
height = 2.8rem

.input
  position absolute // relative to .controls
  top 0
  left 0
  height: height
  width: calc(100% - 11rem)
  input
    padding: 0 9px
    height height
    font-family: monospace
    color: #444
    font-size: 16px
    font-weight 100
    background: #fafafa
    width: 100%

  ::-webkit-input-placeholder
    color: #ccc
    font-style: italic
