
.interpret
  position: relative
  display: flex
  border: solid 1px #bcbcbc
  align-items: center
  height: 4em;
  line-height: 1.2em
  .date
    width: 21%
    padding-left: 8px
  .title
    flex-grow: 1
  .project
    display: flex
    flex-direction: column
    width: 30%
  .time
    width: 9%
    text-align right
    padding-right: 8px
  .state
    position absolute
    line-height: 34px
    top -34px
    right: 8px