@import './defs'

// we get blocked by share tool blockers
.icon-googlex:before { content: '\e804'; } /* '' */

.login
  margin-top 100px
  a
    line-height 50px
    i
      font-style normal
      margin-right 7px
    display block
    border 1px solid $white
    margin 0 auto
    text-align center
    width 250px
    color $white
    text-decoration none
