@import '../css/defs'

.nav
  display flex
  margin-top -40px
  > a
    noselect()
    color black
    text-decoration: none
    line-height: 40px
    height: 40px
    border: 1px solid #ccc
    background: white
    cursor: default
    position: relative
    margin-right 5px
    padding 0 15px 0 12px
    display flex
    .icon
      margin-right: 5px
    &.selected:after
      content: ""
      display: block
      height: 1px
      width: 100%
      position: absolute
      bottom: -1px
      left: 0
      background: white
