
.reportlist
  ol
    list-style none
    line-height 30px
  .month, .week, .proj, .clnt
    display inline-block
    width 300px
  .month, .mtime
    margin-top 40px
    font-weight 500
  .mtime
    font-size 14px
  .mwrap
    margin 0 -10px 10px
    padding 0 10px
    border-bottom 1px dotted #888
  .clnt, .ctime
    font-size 14px
  .clnt
    padding-left 20px
  .week
    padding-left 20px
  .week, .wtime
    font-size 14px
    font-style italic
    color #999
  .proj, .ptime
    font-size 14px
  .proj
    padding-left 60px
  .ptime
    padding-left 70px
  .time
    display inline
