@import './defs'

// minimal reset
*
  padding: 0
  margin: 0
  border: 0
html
  box-sizing: border-box
  font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased
  font()
  font-size: 18px
  line-height: 20px
  background: #efefef
  color: #444444
*, *:before, *:after
  box-sizing: inherit
html, body, #applayout
  height: 100%

.container
  width: 800px
  background: #fff
  height: 100%
  margin: 0 auto
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)

*:focus
  outline: none

input[type=text]
  font()
  font-size: 32px
