@import '../defs'


.list
  display table
  width 100%
  .input-result
    display table-row-group
    font-size 0.8em
  .rows
    display table-row-group
    .daterow
      noselect()
      display table-row
      div
        display table-cell
        padding-left 1rem
        padding-top 2rem
        .sum
          margin-left 1rem
          font-size 0.7em
