@import '../defs'

.entryrow
  display table-row
  div
    display table-cell
    font-size 0.8em
    line-height 1.4rem
    color $cyan
    padding-right 0.3rem
  div:nth-child(1)
    padding-left 1rem
    color $white
    .date
      margin-right 0.5rem
    min-width 12rem
  div:nth-child(2)
    width 5rem
    white-space nowrap
  div:nth-child(3)
    width 5rem
    white-space nowrap
  div:nth-child(4)
    text-align right
    padding-right 1rem
    width 3rem
    white-space nowrap
