@import '../defs'

.nav
  a
    font-weight 400
    padding 0.5rem 0rem
    border-radius 2rem
    width 6.5rem
    text-align center
    display: inline-block
    text-decoration none
    color $purple
    .icon
      margin-right 0.2rem
    &.selected
      background $purple
      color black
