
.reportlist
  font-size 14px
  ol
    list-style none
    line-height 30px
  .month, .week, .proj, .clnt, .ptitle, .ctitle
    display inline-block
  .month, .mtime
    margin-top 3rem
  .section
    margin 0 -10px 10px
    padding 0 10px
    border-bottom 1px dotted #888
    font-size 16px
  .clnt
    padding-left 20px
  .week
    padding-left 20px
  .week, .wtime
    font-style italic
    color #999
  .proj
    padding-left 60px
  .ptime
    padding-left 70px
  .time
    display inline
  .title
    font-size: 12px
    padding-left: 8px
    color: #888
