@import '../defs'

.entrylist
  list-style none
  .date
    margin-top 40px
    font-size 18px
    font-weight 500
    color $green
    display inline-block
  .totaltime
    display inline-block
    margin-left 16px
    font-size 12px
    color $pink
  > li
    padding-left 7px
    line-height 1.6em
    > ol
      margin-left -7px
      list-style none
      .delete
        line-height 50px
      li
        color $white
        border-bottom 1px dotted $brown
      li.entry
        > *
          padding 0 9px
          line-height 50px
          height 50px
        margin 0
        font-size 14px
        display flex
        transition background 0.1s
        .title
          flex-grow 1
          overflow hidden
        .project-title
          color $cyan
          font-size 12px
          display none
          @media(min-width 450px)
            display block
        .project-id
          color $cyan
          width 90px
        .time
          color $cyan
          width 80px
        &hover
          cursor pointer
          background #222

.delete
  margin-left -25px
  float left
  font-size 0.9rem
  color #cf3b39
