@import '../defs'

height = 50px

.input
  position absolute // relative to .controls
  top 0
  left 0
  height: height
  width 100%
  @media(min-width: 450px)
    width: calc(100% - 170px)
  input
    padding: 0 9px
    height height
    font-family: monospace
    color: $white
    font-size: 16px
    font-weight 100
    width: 100%
    background transparent

  ::-webkit-input-placeholder
    color: #555
    font-style: italic
