@import '../defs'

height = 50px

.interpret > div
  display: flex
  flex-flow column
  > * > *
    padding 0 9px
  .main
    position: relative
    font-size: 14px
    > *
      float left
      line-height: height
    .input-holder
      width 100%
      height height
      @media(min-width: 450px)
        width calc(100% - 170px)
    .project-title
      width calc(100% - 170px)
      height height
      color #888
      font-size 12px
      @media(min-width: 450px)
        display none
      text-align right
    .project-id
      width: 90px
      height height
      color $cyan
    .client-id
      width: 90px
    .time
      width: 80px
      height height
      color $cyan
    .state-valid
      text-align center
      padding 0
      width: 30px
      margin-left: -30px
      cursor: pointer
      i
        padding 2px 0
        border-radius 15px
        background $cyan
        color black
  .sub
    border-top 1px dotted $brown
    padding-top 5px
    height (height / 3)
    line-height: (height / 3)
    font-size: 0.6em
    display: flex
    color $cyan
    .err
      color $red
    .type
      color #080
    .date
      width: 108px
    .project-title
      flex 1
      text-align right
      visibility hidden
      @media(min-width: 450px)
        visibility visible
    .client-title
      min-width 170px
