
.icon-check:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-paper-plane:before { content: '\e803'; } /* '' */
.icon-google:before { content: '\e804'; } /* '' */
.icon-vcard:before { content: '\e805'; } /* '' */