
.reglist.reportlist
  margin-top 10px
  .section
    padding 10px 10px 0px 10px
    margin 30px 0 0 0
  .section.others
    font-style italic
  .section .delete
    margin-left -35px
  .clnt
    width 150px
    padding-left 0
  .proj
    padding-left 30px
    width 160px
  .section:hover
    background: #f7f7f7
  li > ol > li
    padding-top 5px
    padding-bottom 5px
  li > ol > li:first-child
    padding-top 10px
  li > ol > li:hover
    background: #f7f7f7
  input
    font-size 14px
    font-family: monospace
    color: #444
    font-size: 16px
    font-weight 100
