
font()
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  letter-spacing: 0.025em

noselect()
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version */

$white  = #b0b0b0
$red    = #dc322f
$orange = #cb4b16
$cyan   = #2aa198
$pink   = #d33682
$purple = #6c71c4
$green  = #859900
$brown  = #b58900
$yellow = #f5de96

keyframes rotate  {
    0% {}
    100% {
      transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate  {
    0% {}
    100% {
      -webkit-transform rotate(-360deg)
    }
}

.icon-running:before
    content '$'
    width 13px;
    animation rotate 0.5s linear infinite normal
    -webkit-animation rotate 0.5s linear infinite normal
